*.log
.DS_Store
node_modules
.cache
dist

# Playwright
packages/tests/playwright-report/
packages/tests/test-results/

# Coverage
coverage/

# IDE
.idea/

# Generated docs
/apps/docs/src/content/docs/api/
