*.log
.DS_Store
node_modules
.cache
dist
# Cypress
cypress/screenshots/
cypress/videos/
.nyc_output/
coverage/
jest-coverage/
cypress-coverage/
reports/
.idea/
playwright-report/
test-results/
packages/react-sketch-canvas/playwright-report/
packages/react-sketch-canvas/test-results/
/apps/docs/src/content/docs/api/
