@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");

.canvas-area {
  border: 1px solid #ccc;

  .panel {
    padding: 2rem;
    background-color: var(--light);
  }
}

.exported-image {
  width: 100%;
  border: 1px solid black;
}

.react-sketch-canvas {
  border: 1px solid red;
}

.sketchingTime {
  font-weight: 200;
  font-size: 3rem;
}
