body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css');

.canvas-area {
  border: 1px solid #ccc;
}

.canvas-area .panel {
  padding: 2rem;
  background-color: var(--light);
}

.exported-image {
  width: 100%;
  border: 1px solid black;
}

.react-sketch-canvas {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.sketchingTime {
  font-weight: 200;
  font-size: 3rem;
}

.logo {
  clip-path: inset(0px 80px 0px 0px);
  height: 64px;
}

.title {
  margin-left: -64px;
}

.canvas-area .canvas {
  padding: 0.6em;
  overflow: auto;
  resize: both;
  max-width: 75%; /* col-9 class sets width to 75% */
}
