/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

body {
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, , "Open Sans", "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

#demo,
#root {
  height: 100vh;
}

#header {
  padding: 1.5rem;
  background: lightgrey;
  border-bottom: 1px thin gray;
}

#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#canvasWrapper {
  width: 60%;
  height: 60%;
  border: 1px solid gray;
}

#buttonPanel {
  width: 20%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

button {
  margin-top: 0.5rem;
  padding: 0.5rem;
}

hr {
  margin: 1rem 0 0.5rem 0;
}

.colorPanel {
  margin-top: 0.5rem;
}
